body {
    color: darkolivegreen;
}

div.indicator {
    background-color: #f2f2f2;
    height: 150px;
    width: 350px;
    border-radius: 10px;
}

div.lable {
    height: 30px;
    background-color: #4a4949;
    border-radius: 10px 10px 0 0;
    place-content: center;
}

h4 {
    color: white;
    font-size: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

h5 {
    color: white;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 0%;
}

div.content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 16px;
    margin-left: 16px;
    top: 16px;
    min-height: 88px;
    background-color: white;
    border-radius: 8px;
    border: 5px black;
    align-items: center;
    justify-content: center;
}

div.info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.content {
    margin: 0;
    margin-left: 8px;
    text-align: left;
    position: relative;
    display: block;
    font-size: 0.8rem;
}

 img.icon {
     display: block;
     position: relative;
     height: 20px;
     width: auto;
     top: 50%;
 }

 div.target {
     height: 32px;
     width: 56px;
     background-color: gray;
     border-radius: 4px;
     position: relative;
 }

 div.slide-block {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 8px;
 }

p.slide-block {
    position: relative;
    margin: 0;
}

div.slider {
    height: 8px;
    width: 90px;
    background-color: blue;
    margin-left: 8px;
}

input[type="range" i] {
    height: 24px;
    width: 120px;
    margin: 0 0 0 8px;
    outline: none;
}
